{% extends "base.html" %}

{% block title %}Albums | Starlo{% endblock %}

{% block content %}
<div class="container">
    <h2 class="display-4 text-light mt-4">🎶 Explore Albums</h2>
    <div class="row mt-4">
        {% for album in albums %}
            <div class="col-md-4">
                <div class="card mb-4 p-3">
                    <h5 class="card-title text-light">{{ album.title }}</h5>
                    <p class="text-muted">Release Date: {{ album.release_date }}</p>
    <a href="{% url 'album_detail' album.id %}" class="btn btn-custom btn-sm">Listen</a>
                </div>
            </div>
        {% empty %}
            <p class="text-light">No albums available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
